/* Center the card and set up full height */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: hsl(212, 45%, 89%); /* Slate 300 */
  font-family: "Outfit", sans-serif; /* Import the Outfit font */
}

.card {
  background-color: hsl(0, 0%, 100%); /* White */
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  max-width: 320px; /* Responsive width */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.qr-code img {
  width: 100%;
  border-radius: 10px;
}

/* Styling the text content */
h1 {
  font-size: 18px;
  font-weight: 700;
  color: hsl(218, 44%, 22%); /* Slate 900 */
  margin: 20px 0 10px;
}

p {
  font-size: 15px; /* Paragraph font size */
  font-weight: 400;
  color: hsl(216, 15%, 48%); /* Slate 500 */
  margin: 0 0 20px;
  line-height: 1.5;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* Responsive Design for Mobile */
@media (max-width: 375px) {
  .card {
    max-width: 300px;
    padding: 15px;
  }

  h1 {
    font-size: 16px;
  }

  p {
    font-size: 14px;
  }
}