/* Center the card and set up full height */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  background-color: hsl(212, 45%, 89%); /* Slate 300 */
  font-family: "Outfit", sans-serif; /* Import the Outfit font */
}

.card {
  background-color: hsl(0, 0%, 100%); /* White */
  border-radius: 15px;
  padding: 20px;
  width: 100%;
  max-width: 320px; /* Responsive width */
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
